*.log
*.iml
*.pot
*.po
*.ipr
*.iws
.idea/
.idea_modules/
/out/
.vagrant
**/target/
**/log/
**/.settings/
**/.project
**/.classpath
**/logs
**/.gradle/
**/build/
**/node_modules
rest/out/
**/.DS_Store
**/out/
*.patch
/rest/src/main/resources/static
**/src/main/generated
**/dist/
